[defaults]
interpreter_python = /usr/bin/python3
callbacks_enabled = ansible.posix.profile_tasks

[privilege_escalation]
become = True
become_method = community.general.run0
become_exe = TERM=dumb run0

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
ssh_extra_args = -o RequestTTY=force
