[defaults]
host_key_checking = False
pipelining = False
roles_path = ./roles:../service-nextcloud/ansible-role:../service-bunker/ansible-role:../service-monitoring/ansible-role

[privilege_escalation]
become = True
become_method = community.general.run0

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o RequestTTY=yes -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-%%h-%%p-%%r
