[Unit]
Description=Incremental btrfs send of service snapshots to backup target %i
RequiresMountsFor={{ base_setup_backup_root }}/%i
After={% for s in base_setup_services %}btrfs-snapshot@{{ s.name }}.service {% endfor %}

OnSuccess=auto-reboot-staged.service

[Service]
Type=oneshot
TimeoutStartSec=12h
Environment=BTRFS_SNAPSHOT_DIR={{ base_setup_btrfs_snapshot_dir }}
Environment=BACKUP_ROOT={{ base_setup_backup_root }}
Environment=NODE_TEXTFILE_DIR=/var/lib/node-textfile
ExecStart=systemd-inhibit --what=shutdown --who=btrfs-backup@%i --why="incremental send in progress" /usr/local/bin/btrfs-backup.sh %i
